@model List<Investrosite.Models.Database.Admin>
@{
    ViewBag.Title = "Adminlist";
}

<center><h2>Admin List</h2></center>

<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <a class="btn btn-primary btn-sm shadow-none" href="/admin/CreateAdmin">Create Admin</a>
            <table class="table table-bordered">
                <tr>
                    <th> ID</th>
                    <th> Name</th>
                    <th> Email</th>
                    <th> Phone</th>
                    <th> Role</th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var p in Model)
                {
                    <tr>
                        <td> @p.Id</td>
                        <td> @p.Name</td>
                        <td> @p.Email</td>
                        <td> @p.Phone</td>
                        <td> @p.Role</td>
                        <td><a href="/Admin/EditAdmin/@p.Id">Edit</a></td>
                        <td><a href="/Admin/DeleteAdmin/@p.Id">Delete</a></td>
                    </tr>
                }
            </table>

        </div>
    </div>
</div>
